*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    height: 60px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}